@import 'tailwindcss';

@layer base {
	h3 {
		@apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
	}
}

@layer utilities {
	.section-container {
		@apply max-w-6xl mx-auto text-center;
	}

	.button-container {
		@apply flex flex-col justify-center w-full space-y-6 text xl text-white md:flex-row md:space-y-0 md:space-x-4;
	}
}

@theme {
	--*: initial;
	/* theme breakpoints */
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;
	/* colors  */
	--color-strongCyan: okchl(44% 0.13 172);
	--color-lightBlue: okchl(71% 0.22 255);
	--color-darkGrayishBlue: okchl(35% 0.02 226);
	--color-grayishBlue: okchl(68% 0.03 226);
	/* font  */
	--font-sans: 'Bai Jamjuree', sans-serif;
}

body {
	background-image: url('clipboard-website/bg-heder-desktop.png');
	background-repeat: no-repeat;
	background-size: contain;
}
